@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');


.hero {
  background-image: url("https://images.unsplash.com/photo-1520092352425-9699926a9b0b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  filter: grayscale(30%);
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;

}

.rc-pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rc-pagination-item {
  background-color: transparent !important;
  padding: 5px 8px;
  border: none !important;
  font-weight: bold;
  box-shadow: black
}

.rc-pagination-item.rc-pagination-item-active {
  background-color: #ff6b00 !important;
  border-radius: 5px;
}
.rc-pagination-item.rc-pagination-item-active a {
  color: white !important;
}